* {
    cursor: pointer;
  }
  

  

  
  .cursor {
    background: linear-gradient(60deg, 
    rgb(247, 149, 51),
    rgb(243, 112, 85),
    rgb(239, 78, 123),
    rgb(161, 102, 171),
    rgb(80, 115, 184),
    rgb(16, 152, 173),
    rgb(7, 179, 155),
    rgb(111, 186, 130)
);

    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }